<!-- Site footer -->
<!DOCTYPE html>

<head>
    <link rel="stylesheet" th:href="@{/css/footer.css}" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>

<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col item social">
                    <a href="https://www.facebook.com/markuskirchekoeln"><i class="icon ion-social-facebook"></i></a>
                    <a href="#"><i class="icon ion-social-dropbox"></i></a>
                    <a href="https://www.youtube.com/channel/UChN6jOEUH1baS4g5ZtF38GQ"><i class="icon ion-social-youtube"></i></a>
                </div>
            </div>
            <p class="copyright">Markuskirche Köln © 2021</p>
        </div>
    </footer>
</div>
