<header xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-md navbar-dark nav-dark">
        <div class="container">
            <div>
                <ul>
                    <li class="home"><a class="navbar-brand" href="/">Home</a></li>
                    <li class="home"><a class="navbar-brand" href="/">Markus Kirche</a></li>
                    <li><a class="navbar-brand" th:href="@{'/calendar'}">Kalender</a></li>
                    <li><a class="navbar-brand" th:href="@{'/Pastoren'}">Unsere Pastorin</a></li>
                    <li><a class="navbar-brand" th:href="@{'/AboutUs'}">Über Uns</a></li>
                    <li><a class="navbar-brand" th:href="@{'/Impressum'}">Impressum</a></li>
                    <li><a class="navbar-brand" th:href="@{'/Kontakt'}">Kontakt</a></li>

                </ul>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            </div>
        </div>
    </nav>
</header>

<style>
    header{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10000000;
    }

    .nav-dark{
        background-color: #212529 !important;
    }
    ul {
        float:right;
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        text-align: right;
    }


    li {
        display: inline-block;
        margin: 10px;
    }

    dl, ol, ul{
        margin-top: 0rem;
        margin-bottom: 0rem !important;
    }
</style>

