<head>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/readMore.css}" xmlns:th="http://www.thymeleaf.org">
</head>

<main xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <article>
        <div class="article-header">
            <div class="headline">
                <h1>Wir über uns</h1>
                <div class="byline" >Evangelisch-methodistische Kirche</div>
            </div>
            <!--            <div th:style="'background:url(' + ${post.getBase64Image()} + ');'" class="image"></div>-->
            <div id="main-bg" th:style="'background:url(' + @{/images/pic3.jpg} + ');'" class="image"></div>

        </div>
        <div class="article-text push-bot">
            <p class="first">Evangelisch-methodistische Kirche (EmK) - eine spezielle Art, evangelisch zu sein -</p>

            <p>
                Evangelisch: Die biblische Botschaft von der Liebe Gottes ist Grundlage der EmK.
                Persönlicher Glaube und soziales Handeln gehören für sie eng zusam-men.
                methodistisch: Das war im 18. Jahrhundert ein Spottname für Anhängerinnen und Anhänger der anglikanischen
                Pfarrer John und Charles Wesley sowie George Whitefield. Die EmK entstand aus einer reformatorischen Erweckungs-bewegung
                in den sozialen Brennpunkten Englands.
            </p>
            <p>
                Nur nach freiwilliger, bewusster Entscheidung kann man Glied dieser Kirche werden. Die EmK erhebt keine Kirchensteuer. Sie finanziert sich durch freiwil-lige Zuwendungen. In Deutschland wird sie deshalb als Freikirche bezeichnet.
            </p>

        <p>In Deutschland gehören etwa 49.000 Menschen zur EmK. Sie ist der deutsche Zweig der United Metho-dist Church (UMC). Weltweit gehören über 51 Millio-nen Menschen zu methodistischen Kirchen.</p>
                <p>Die EmK unterhält diakonische und soziale Einrich-tungen. Ein wesentliches Merkmal ist ihre "ökumenische Gesinnung".
                    Sie arbeitet auf Stadtteil- und Stadt-Ebene sowie weltweit in der Ökumene mit: in der Arbeitsgemein-schaft Christlicher Kirchen, der Gemeinschaft Evangelischer Kirchen in Europa, der Konferenz Europäischer Kirchen, der Vereinigung evangelischer Freikir-chen.
                    Sie ist der Deutschen Evangelischen Allianz verbunden.
                    Auch im Rah-men des Konziliaren Prozesses für Gerechtigkeit, Frieden und Bewahrung der Schöpfung engagiert sie sich. Mehr: <a href="https://www.emk.de/">www.emk.de</a>
                </p>

            <p>Die Gemeinde in Köln wurde 1891 gegründet. Ihr heutiges Leitbild: Gemeinde als Ort der Gemeinschaft,
                in der Gottes Liebe zu allen Menschen erlebt, gelebt und weitergegeben wird. Mittelpunkt des Gemeindelebens
                sind abwechslungs-reiche Gottesdienste mit anschließendem Kirchenkaffee. Die Verkündigung der Botschaft von der
                Liebe Gottes geschieht durch Pastor*innen und dafür aus-gebildete Laien. Die Kölner Gemeinde bezog 2001 ihr Gemeindezentrum Markuskirche in der Herbigstraße.
                Sonntags und an Wochentagen finden dort verschiedenartige Veranstaltungen statt. Dass die Gemeinde gerne feiert, trägt zu einem guten Miteinander bei. </p>

        </div>
    </article>
</main>

<style>
    .push-bot{
        margin-bottom: 5vw;
    }
    #main-bg{
        width: 100%;
        height: 20vw;

        margin-bottom: 1.9em;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

</style>

