
<head>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/readMore.css}" xmlns:th="http://www.thymeleaf.org">

</head>

<main xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <article>
        <div class="article-header">
            <div class="headline">
                <div class="header" >Congratulations! Your email is verified and account has been activated!</div>
            </div>
            <div th:style="'background:url(' + @{/images/pic3.jpg} + ');'" class="image">

            </div>
        </div>
    </article>
</main>

<style>
    .image{
        grid-row: 1 / -1;
        height: 50vw;
    }

</style>