<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <style>

        #all_users, #all_group_chats {
            height: 200px;
            overflow-y: auto;
        }

        .group_chats {

        }

        .users_background {
            background-color: white;
        }

        .users_background_selected {
            background-color: #F0F0F0;
        }

        .users {
            height: 40px;
            border: 1px black solid;
            margin: 2px auto;
            border-radius: 4px;

            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
        }

        .users:hover {
            background-color: darkgrey;
            cursor: pointer;
        }

        #messagediv {
            border: 1px solid gray;
            display: block;
            height: 400px;
            overflow-y: auto;
            border-radius: 5px;
        }

        ul{
            list-style: none;
            margin: 0;
            padding: 0;
        }

        ul li{
            display:inline-block;
            clear: both;
            padding: 10px;
            border-radius: 30px;
            margin-bottom: 2px;
            font-family: Helvetica, Arial, sans-serif;
        }

        .other{
            background: #eee;
            float: left;
        }

        .me{
            float: right;
            background: #007bff;
            color: #fff;
        }

        .other + .me{
            border-bottom-right-radius: 5px;
        }

        .me + .me{
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .me + .other {
            border-bottom-left-radius: 5px;
        }

        .other + .other{
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        .me:last-of-type {
            border-bottom-right-radius: 30px;
        }

        .me:first-of-type {
            border-bottom-right-radius: 5px;
        }

        .other:first-of-type {
            border-bottom-left-radius: 5px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div id="conversationDiv">
        <div class="row">
            <div class="col-2" id="chats">
                <h2>Users</h2>
                <div id="all_users">
                    <div th:each="user : ${allUsers}" class="users users_background" th:id="${user}">
                        <th:block th:text="${user}"></th:block>
                    </div>
                </div>
                <h2>Group Chats</h2>
                <div id="all_group_chats">

                </div>
            </div>
            <div class="col-8" id="message_board">
                <div id="messagediv">
                    <ul>

                    </ul>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div id="typing"></div>
                    </div>
                    <div class="col-6" style="text-align: right;">
                        <input type="text" id="user_input" placeholder="Write your message..."/>
                        <button id="send">Send message</button>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button id="show_participants" type="button" class="btn btn-primary">Show Participants</button>
                <div id="participants">

                </div>
            </div>
        </div>
        <br/>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Create Group Chat
        </button>
        <hr/>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Group Chat</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/chat/createGroupChat" id="idForm">
                        <input type="text" name="groupChatName" placeholder="Enter group chat name"/><br/>
                        <label for="invitedUsers">Choose invites:</label><br/>
                        <select id="invitedUsers" name="invitedUserIds" multiple="multiple">
                            <option th:each="user : ${allUsers}" th:value="${user}" th:text="${user}"></option>
                        </select><br/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="submitIdForm" type="button" class="btn btn-primary" data-dismiss="modal">
                        Create
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div>
                <button id="connect" onclick="connect();" class="btn btn-primary">Connect</button>
                <button id="disconnect" disabled="disabled" onclick="disconnect();" class="btn btn-secondary">
                    Disconnect
                </button>
            </div>
        </div>
    </div>

    <span th:text ="${#authentication.getPrincipal().getEmail()}"></span>
</div>

<script th:inline="javascript">

    let stompClient = null;
    let activeUser = null;
    let activeUserDiv = null;
    const currentUser = [[${#authentication.getPrincipal().getEmail()}]];
    let page = 0;
    const size = 10;
    const sort = "timestamp,desc";
    let hasMoreMessages = true;
    const allUserEmails = [[${allUsers}]];
    let activeUserNewMessages = 0;
    let firstTimeMessageDivClicked = false;

    let typing = false;
    let timeout = null;
    let usersWhoAreTypingDirectly = new Set();

    function setConnected(connected) {
        document.getElementById('connect').disabled = connected;
        document.getElementById('disconnect').disabled = !connected;
        document.getElementById('conversationDiv').style.visibility = connected ? 'visible' : 'hidden';
    }

    // function connect() {
    //     let socket = new SockJS('http://localhost:8080/ws');
    //     stompClient = Stomp.over(socket);
    //     stompClient.connect({}, function(frame) {
    //         setConnected(true);
    //         console.log('Connected: ' + frame);
    //
    //         stompClient.subscribe(
    //             "/user/" + currentUser + "/queue/messages",
    //             onMessageReceived
    //         );
    //         stompClient.subscribe(
    //             "/user/" + currentUser + "/queue/groupChat",
    //             onGroupMessageReceived
    //         );
    //     });
    // }

    function disconnect() {
        if(stompClient != null) {
            stompClient.disconnect();
        }
        setConnected(false);
        console.log("Disconnected");
    }

    const connect = () => {
        //let sockjs = new SockJS("https://markuskirche.herokuapp.com/ws");
        let sockjs = new SockJS("http://localhost:8080/ws");
        stompClient = Stomp.over(sockjs);
        //stompClient.debug = function(str) {}; //disable logging
        stompClient.connect({}, onConnected, onError);
    };

    const onConnected = () => {
        console.log("connected");
        setConnected(true);

        stompClient.subscribe(
            "/user/" + currentUser + "/queue/messages",
            onMessageReceived
        );
        stompClient.subscribe(
            "/user/" + currentUser + "/queue/groupChat",
            onGroupMessageReceived
        );
    };

    const onGroupMessageReceived = (msg) => {
        const newMessage = JSON.parse(msg.body);

        if (newMessage.typing !== undefined && newMessage.typing !== null) {
            if (newMessage.recipientId === activeUser) {
                if (newMessage.typing === true) {
                    $("#typing").text("Someone is typing...");
                    usersWhoAreTypingDirectly.add(newMessage.recipientId);
                } else {
                    $("#typing").text("");
                    usersWhoAreTypingDirectly.delete(newMessage.recipientId);
                }
            } else {
                if (usersWhoAreTypingDirectly.has(newMessage.recipientId)) {
                    if (usersWhoAreTypingDirectly.size === 1) {
                        $("#typing").text("");
                    }
                    usersWhoAreTypingDirectly.delete(newMessage.recipientId);
                }
            }
        } else if (newMessage.name !== undefined && newMessage.id !== undefined) {
            $("#all_group_chats").prepend(`<div id='${newMessage.id}' class="users users_background">${newMessage.name}</div>`);
        } else if(newMessage.senderId !== undefined && newMessage.recipientId !== undefined && newMessage.content !== undefined) {
            if (newMessage.recipientId === activeUser) {
                const $messagediv = $("#messagediv");
                activeUserNewMessages++;
                $("#messagediv > ul").append(`<li class="other"><span style="font-size: xx-small;color: grey;">${newMessage.senderId}</span><br>${newMessage.content}</li>`);
                $messagediv.animate({ scrollTop: $messagediv.prop("scrollHeight")}, 1000);
            } else {
                const theDiv = document.getElementById(newMessage.recipientId);
                document.getElementById("all_group_chats").prepend(theDiv);
            }
        }
    };

    const onError = (err) => {
        console.log(err);
    };

    connect();

    const updateMessageStatus = (message) => {
        $.ajax({url: `/messages/${message.id}`, method: "PUT", success: function (result) {
            console.log(result);
            sendSeenStatus();
        }});
    };

    const onMessageReceived = (msg) => {
        const newMessage = JSON.parse(msg.body);
        //console.log(newMessage);

        if (newMessage.messagePurpose !== null) {
            if (newMessage.senderId === activeUser) {
                $("#messagediv > ul > li.me > sub").each(function() {
                    if ($(this).text() === "✓") {
                        $(this).text("✓✓");
                    }
                });
            }
        } else if (newMessage.typing !== null) {
            if (newMessage.senderId === activeUser) {
                if (newMessage.typing === true) {
                    $("#typing").text(`${newMessage.senderId} is typing...`);
                    usersWhoAreTypingDirectly.add(newMessage.senderId);
                } else {
                    $("#typing").text("");
                    usersWhoAreTypingDirectly.delete(newMessage.senderId);
                }
            } else {
                if (usersWhoAreTypingDirectly.has(newMessage.senderId)) {
                    if (usersWhoAreTypingDirectly.size === 1) {
                        $("#typing").text("");
                    }
                    usersWhoAreTypingDirectly.delete(newMessage.senderId);
                }
            }
        } else {
            if (newMessage.senderId === activeUser) {
                const $messagediv = $("#messagediv");
                activeUserNewMessages++;
                $("#messagediv > ul").append(`<li class="other">${newMessage.content}</li>`);
                $messagediv.animate({ scrollTop: $messagediv.prop("scrollHeight")}, 1000);
                updateMessageStatus(newMessage);
            } else {
                const theDiv = document.getElementById(newMessage.senderId);
                const divOldContent = theDiv.textContent.replace(/\s+/g, ' ').trim().split(" ");
                if(isNaN(divOldContent[1])) {
                    const content = document.createTextNode(" 1");
                    theDiv.appendChild(content);
                    // console.log("problem caused by number of message / onMessageReceived");
                    // return;
                } else {
                    const constCount = parseInt(divOldContent[1]) + 1;
                    theDiv.textContent = divOldContent[0] + " " + constCount;
                }
                document.getElementById("all_users").prepend(theDiv);
            }
        }
    };

    const sendMessage = (userInput) => {
        const message = {
            senderId: currentUser,
            recipientId: activeUser,
            content: userInput,
            timestamp: new Date()
        };

        if (!activeUserDiv.hasClass("group_chats")) {
            stompClient.send("/app/chat", {}, JSON.stringify(message));
        } else {
            stompClient.send("/app/group", {}, JSON.stringify(message));
        }
    };

    const sendSeenStatus = () => {
        const message = {
            senderId: currentUser,
            recipientId: activeUser,
            messageType: "USER"
        };
        stompClient.send("/app/seen", {}, JSON.stringify(message));
    };

    const loadMessages = () => {
        if (page === 0) {
            $("#messagediv > ul").empty();
        }
        let getMessagesUrl = `/messages/${currentUser}/${activeUser}?page=${page}&size=${size}&sort=${sort}`;
        page += Math.floor(activeUserNewMessages/size);
        activeUserNewMessages %= size;
        if (activeUserNewMessages > 0) {
            const offset = page * size + activeUserNewMessages;
            getMessagesUrl = `/messages/${currentUser}/${activeUser}?offset=${offset}&size=${size}&sort=${sort}`;
        }

        $("#messagediv").off("scroll", scrollEventHandler);
        $.ajax({url: getMessagesUrl, success: function (result) {
            //console.log(result.length);

            if (result.length < size) {
                hasMoreMessages = false;
                if (result.length === 0) {
                    return;
                }
            }

            const theDiv = document.getElementById(`${activeUser}`);
            const divOldContent = theDiv.textContent.replace(/\s+/g, ' ').trim().split(" ");
            theDiv.textContent = divOldContent[0];

            const $messagediv = $("#messagediv");
            const old_height = $messagediv.prop("scrollHeight");
            const old_scroll = $messagediv.scrollTop();

            result.forEach(function (message) {
                if (message.senderId === currentUser) {
                    if (message.messageStatus === "SEEN") {
                        $("#messagediv > ul").prepend(`<li class="me"><sub style="font-size: xx-small;">&#10003;&#10003;</sub> ${message.content}</li>`);
                    } else {
                        $("#messagediv > ul").prepend(`<li class="me"><sub style="font-size: xx-small;">&#10003;</sub> ${message.content}</li>`);
                    }
                } else {
                    $("#messagediv > ul").prepend(`<li class="other">${message.content}</li>`);
                }
            });
            $messagediv.scrollTop(old_scroll + $messagediv.prop("scrollHeight") - old_height);
            sendSeenStatus();
        }}).done(function() {
            $("#messagediv").on("scroll", scrollEventHandler);
        });
    };

    const loadGroupMessages = () => {
        if (page === 0) {
            $("#messagediv > ul").empty();
        }
        let getMessagesUrl = `/group/${currentUser}/${activeUser}?page=${page}&size=${size}&sort=${sort}`;
        page += Math.floor(activeUserNewMessages/size);
        activeUserNewMessages %= size;
        if (activeUserNewMessages > 0) {
            const offset = page * size + activeUserNewMessages;
            getMessagesUrl = `/group/${currentUser}/${activeUser}?offset=${offset}&size=${size}&sort=${sort}`;
        }

        $("#messagediv").off("scroll", scrollEventHandler);
        $.ajax({
            url: getMessagesUrl,
            success: function (result) {
                //console.log(result.length);

                if (result.length < size) {
                    hasMoreMessages = false;
                    if (result.length === 0) {
                        return;
                    }
                }

                const theDiv = document.getElementById(`${activeUser}`);
                const divOldContent = theDiv.textContent.replace(/\s+/g, ' ').trim().split(" ");
                theDiv.textContent = divOldContent[0];

                const $messagediv = $("#messagediv");
                const old_height = $messagediv.prop("scrollHeight");
                const old_scroll = $messagediv.scrollTop();

                result.forEach(function (message) {
                    if (message.senderId === currentUser) {
                        $("#messagediv > ul").prepend(`<li class="me">${message.content}</li>`);
                    } else {
                        $("#messagediv > ul").prepend(`<li class="other"><span style="font-size: xx-small;color: grey;">${message.senderId}</span><br>${message.content}</li>`);
                    }
                });
                $messagediv.scrollTop(old_scroll + $messagediv.prop("scrollHeight") - old_height);
            }
        }).done(function () {
            $("#messagediv").on("scroll", scrollEventHandler);
        });
    };

    const sendMessageFromInput = () => {
        const $user_input = $("#user_input");
        let userInput = $user_input.val().trim();
        if (userInput === '') {
            console.log("Cannot send empty message.");
            return;
        }
        if (activeUser == null) {
            console.log("Active user is null.")
            return;
        }
        $user_input.val("");
        sendMessage(userInput);

        const $messagediv = $("#messagediv");
        activeUserNewMessages++;
        if (!activeUserDiv.hasClass("group_chats")) {
            $("#messagediv > ul").append(`<li class="me"><sub style="font-size: xx-small;">&#10003;</sub> ${userInput}</li>`);
        } else {
            $("#messagediv > ul").append(`<li class="me">${userInput}</li>`); //todo for group chat seen
        }
        $messagediv.animate({ scrollTop: $messagediv.prop("scrollHeight")}, 1000);

        const theDiv = document.getElementById(activeUser);
        if (!activeUserDiv.hasClass("group_chats")) {
            document.getElementById("all_users").prepend(theDiv);
        } else {
            const theDiv = document.getElementById(activeUser);
            document.getElementById("all_group_chats").prepend(theDiv);
        }
    };

    const scrollEventHandler = () => {
        if ($("#messagediv").scrollTop() === 0) {
            if (activeUserDiv != null && hasMoreMessages) {
                page++;
                if (!activeUserDiv.hasClass("group_chats")) {
                    loadMessages();
                } else {
                    loadGroupMessages();
                }
            }
        }
    };

    function typingTimeout(activeUserRecipient, messageType){
        typing = false;
        const message = {
            senderId: currentUser,
            recipientId: activeUserRecipient,
            typing: typing,
            messageType: messageType
        };
        stompClient.send("/app/typing", {}, JSON.stringify(message));
    }

    $(document).ready(function () {
        $.ajax({
            url: "/chat/groupChats",
            success: function (data) {
                console.log(data.length);

                const $allGroupChats = $("#all_group_chats");
                data.forEach(function (groupChat) {
                    $allGroupChats.append(`<div id='${groupChat.id}' class="users users_background group_chats">${groupChat.name}</div>`);
                });
            }
        });

        //connect();

        allUserEmails.forEach(function (userEmail) {
            $.ajax({url: `/messages/${userEmail}/count`, success: function (result) {
                if (result !== 0) {
                    const theDiv = document.getElementById(`${userEmail}`);
                    const content = document.createTextNode(result);
                    theDiv.appendChild(content);
                }
            }});
        });

        $("#show_participants").hide();
        $("#show_participants").prop('disabled', true);
        $("#message_board").hide();

        $("#send").click(function () {
            sendMessageFromInput();
        });

        $(document).on("click", ".users", function () {
            if (firstTimeMessageDivClicked === false) {
                $("#message_board").show();
                firstTimeMessageDivClicked = true;
            }
            if (activeUserDiv != null) {
                if (activeUser !== $(this).attr("id")) {
                    activeUserDiv.removeClass("users_background_selected");
                    activeUserDiv.addClass("users_background");
                    page = 0;
                    activeUserNewMessages = 0;
                    hasMoreMessages = true;
                } else {
                    return;
                }
            }
            activeUserDiv = $(this);
            activeUserDiv.removeClass("users_background");
            activeUserDiv.addClass("users_background_selected");
            activeUser = activeUserDiv.attr("id");

            if (usersWhoAreTypingDirectly.size === 1) {
                $("#typing").text("");
                usersWhoAreTypingDirectly.clear();
            }

            $("#participants").empty();
            const $show_participants = $("#show_participants");
            if (!activeUserDiv.hasClass("group_chats")) {
                $show_participants.hide();
                $show_participants.prop('disabled', true);
                loadMessages();
            } else {
                $show_participants.prop('disabled', false);
                $show_participants.show();
                loadGroupMessages();
            }
        });

        $("#messagediv").on("scroll", scrollEventHandler);

        $("#user_input").on("keypress", function (e) {
            if (e.which === 13) {
                clearTimeout(timeout);
                typingTimeout(activeUser, !activeUserDiv.hasClass("group_chats") ? "USER" : "GROUP");

                $(this).attr("disabled", "disabled");
                sendMessageFromInput();
                $(this).val("");
                $(this).removeAttr("disabled");
                $(this).focus();
            } else {
                typing = true;
                const messageType = !activeUserDiv.hasClass("group_chats") ? "USER" : "GROUP";
                const message = {
                    senderId: currentUser,
                    recipientId: activeUser,
                    typing: typing,
                    messageType: messageType
                };
                stompClient.send("/app/typing", {}, JSON.stringify(message));
                clearTimeout(timeout);
                timeout = setTimeout(typingTimeout, 1500, activeUser, messageType);
            }
        });

        // Group Chat

        $("#submitIdForm").click(function () {
            $("#idForm").submit();
        });

        $("#idForm").submit(function (e) {
            e.preventDefault();

            const $form = $(this);
            const url = $form.attr('action');

            //console.log("#idForm", $form);

            $.ajax({
                type: 'POST',
                url: url,
                data: $form.serialize(),
                success: function (groupChat) {
                    console.log(groupChat);
                    $("#all_group_chats").prepend(`<div id='${groupChat.id}' class="users users_background group_chats">${groupChat.name}</div>`);
                }
            });

            $("select option").prop("selected", false);
        });

        $("#show_participants").click(function () {
            if (activeUserDiv != null && activeUserDiv.hasClass("group_chats")) {
                $.ajax({
                    url: `/group/${currentUser}/${activeUser}/getParticipants`,
                    success: function (result) {

                        const $participants = $("#participants");
                        $participants.empty();

                        $participants.append(`<div>${currentUser} (You)</div>`);
                        result.forEach(function (userId) {
                            $participants.append(`<div>${userId}</div>`);
                        });
                    }
                });
            }
        });
    });
</script>
</body>
</html>