<html>
<head>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/readMore.css}" xmlns:th="http://www.thymeleaf.org">

</head>

<main xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <article>
        <div class="article-header">
            <div class="headline">
                <h1>Evangelisch-methodistische Kirche</h1>
                <div class="byline" >Donate </div>
                <div class="article-text push-bot newsletter-subscribe mt-5 text-center">
                    <form action='/charge' method='POST' id='checkout-form'>

                        <input type='hidden' th:value='${amount}' name='amount' />
                        <label>Amount of your donation: <span th:text='${amount/100}' />€</label>
                        <br />

                        <script
                                src='https://checkout.stripe.com/checkout.js'
                                class='stripe-button'
                                th:attr='data-key=${stripePublicKey},
                         data-amount=${amount},
                         data-currency=${currency}'


                                data-key="pk_test_51IP9Z6E0IcH9jGcDOc1GXOSjFKr0T0XafFObXOYyCps8kUg3Cpi2A1ajb3cyWB82MZmzYITSVJP0G6dAu0P8D0Ec00jlDh04aL"
                                data-name="Marcus Kirche"
                                data-description="Donations for church"

                                data-label="Pay with card"
                                data-email="EmKCologne@mail.com">

                        </script>
                    </form>
                </div>
            </div>
            <!--            <div th:style="'background:url(' + ${post.getBase64Image()} + ');'" class="image"></div>-->
            <div th:style="'background:url(' + @{/images/pic3.jpg} + ');'" class="image"></div>

        </div>

    </article>
</main>
</html>
<style>
    .image{
        grid-row: 1 / -1;
    }
    .push-bot{
        margin-bottom: 8vw;
    }
</style>

