<head>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/readMore.css}" xmlns:th="http://www.thymeleaf.org">
</head>

<main xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <article>
        <div class="article-header">
            <div class="headline">
                <h1>Kontakt</h1>
                <div class="byline" >Evangelisch-methodistische Kirche</div>
            </div>
            <!--            <div th:style="'background:url(' + ${post.getBase64Image()} + ');'" class="image"></div>-->
            <div id="main-bg" th:style="'background:url(' + @{/images/pic3.jpg} + ');'" class="image"></div>

        </div>
        <div class="article-text push-bot">
            <p>Evangelisch-methodistische Kirche</p>
            <p> Bezirk Rheinland</p>
            <p>Markuskirche Köln</p>
            <p>Herbigstr. 18-20</p>
            <p>50825 Köln</p>
            <p> Telefon: 0221 170 999 26</p>
            <p> E-Mail: koeln@emk.de</p>

            <h3>Inhaltlich Verantwortlich § 55 Abs. 2 RStV:</h3>
            <p>Pastor Dr. Rainer Bath</p>
            <p> Bertha-Sander-Str. 31</p>
            <p> 50829 Köln</p>
            <p> Telefon: 0221 170 999 26</p>
            <p> E-Mail: rainer.bath@emk.de</p>
            <p>
            Die durch den Anbieter erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Jede Vervielfältigung, Bearbeitung und Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedarf der schriftlichen Zustimmung des Anbieters beziehungsweise des jeweiligen Autors. Downloads und Kopien dieser Seite sind durch den Anbieter nur für den privaten, nicht kommerziellen Gebrauch gestattet.
            Soweit Seiteninhalte nicht vom Anbieter erstellt wurden, werden die Urheberrechte Dritter beachtet. Inhalte Dritter wurden als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bittet der Anbieter um einen entsprechenden Hinweis. Nach Kenntnis solcher Inhalte wird der Anbieter diese umgehend entfernen.
            Die Darstellung dieser Internetseite in fremden Frames ist nur mit schriftlicher Erlaubnis des Anbieters zulässig.
            </p>
           <br/>
            <p>
            <h5>Urheberrecht</h5>
            © Copyright Evangelisch-methodistische Kirche KdÖR mit Sitz in Frankfurt am Main und Berlin (Deutschland). Alle Rechte vorbehalten.
            Texte, Bilder, Grafiken, Sounds, Animationen und Videos sowie deren Anordnung auf der Internetseite www.emk.de unterliegen dem Schutz des Urheberrechts und anderer Schutzgesetze. Der Inhalt dieser Internetseite darf nicht zu kommerziellen Zwecken kopiert, verbreitet, verändert oder Dritten zugänglich gemacht werden.
            Wir weisen darauf hin, dass auf den Internetseiten enthaltene Bilder und Skripte teilweise dem Urheberrecht Dritter unterliegen.
            </p>
        </div>
    </article>
</main>