<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



    <style>
        header{
            max-width: 100%;
        }
        html, body {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
            font-size: 14px;

        }

        #calendar {
            max-width: 800px;
            margin-right:0px;
            max-height: 300px;
        }

        .push-top{
            margin-top: 10%;
        }

        .row {
            margin-right: 0 !important;
        }


    </style>
    <script  th:inline="javascript">

        var post =[[${posts}]]

        console.log(post)

        document.addEventListener('DOMContentLoaded', function () {
            let calendarEl = document.getElementById('calendar');
            let calendar = new FullCalendar.Calendar(calendarEl, {

                Object, default:

                    {
                        close: 'fa-times',
                        prev: 'fa-chevron-left',
                        next: 'fa-chevron-right',
                        prevYear: 'fa-angle-double-left',
                        nextYear: 'fa-angle-double-right'
                    },

                eventRender: function(event, element) {
                    if(event.icon){
                        element.find(".fc-title").prepend("<i class='fa fa-"+event.icon+"'></i>");
                    }
                },

                eventClick: function (info) {

                    info.jsEvent.preventDefault();

                    var ids = info.event.id;

                    window.open("http://localhost:8080/posts/" + ids + "/readMore");


                },

                themeSystem: 'bootstrap',

                initialView: 'dayGridMonth',
                //initialDate: '2021-02-07',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                events: [],


            });



            calendar.render();


            post.forEach(function (item) {
                var title = item.title;
                var shortDescription = item.shortDescription;
                var dateCreated = item.dateCreated;
                var id = item.id;
                var event = {id: id, title: title, start: dateCreated};


                calendar.addEvent(event);


            });




        });


        //var post   = [[${posts}]];



    </script>


</head>

<section th:replace="home_fragments/carousel"></section>


<div class="row">

    <div class="col-8">
<!--        <section th:replace="home_fragments/show_posts"></section>-->
        <section th:replace="home_fragments/test_list_posts"></section>
    </div>

    <div class="col-4">
        <div class="row push-top">
            <section class="col-md-6" th:replace="home_fragments/newsletter_subscription"> </section>
        </div>
        <div class="row push-top">
            <section class="col-md-6" th:replace="home_fragments/file_upload"> </section>
        </div>
        <div class="row push-top">
            <section class="col-md-6" th:replace="home_fragments/donations"> </section>
        </div>

        <div class="row push-top">
            <section class="col-md-6" th:replace="home_fragments/calendar"> </section>
        </div>
    </div>
</div>
<div class="push-top">
    <section th:replace="home_fragments/social-networks"></section>
</div>
</html>
