
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<div class="container push-top">
    <div class="row" style="margin-top: 8%">
        <div class="col-md-8 col-md-offset-2">
            <form method="post"  enctype="multipart/form-data" th:action="@{'/posts/{id}' (id=${post?.id})}">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text"
                           id="title"
                           name="title"
                           th:value="${post?.title}"
                           class="form-control"
                           required>
                </div>
                <div class="form-group">
                    <label for="shortDescription">Short Description</label>
                    <input type="text"
                           id="shortDescription"
                           name="shortDescription"
                           class="form-control"
                           th:value="${post?.shortDescription}"
                           required>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea
                            type="text"
                            id="description"
                            name="description"
                            class="form-control"
                            rows="7"
                            th:text="${post?.description}"
                            required></textarea>
                </div>
                <div class="form-group" >

<!--                    <img th:src="${post?.base64Image}">-->
<!--                    <br/>-->
                    <label>Image</label>
                    <input name="image" type="file" class="form-control" required/>

                </div>
        <button id="submit" type="submit" class="btn btn-dark">Submit</button> <br />
        <a id="back" href="/posts" type="button" class="btn btn-primary">Back to posts</a>

        </form>
        </div>
    </div>
</div>

</html>

<style>
    .push-top{
        margin-bottom: 7.15vw;
    }
</style>