
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
<header xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Markus Kirche</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">



                <form class="form-inline my-2 my-lg-0">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" aria-label="Small"
                               aria-describedby="inputGroup-sizing-sm"
                               placeholder="Search...">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary btn-number">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">

                    <li class="nav-item" >
                        <a class="nav-link" href="#">
                            <th:block th:if="${#request.getRemoteUser() != null}"
                                      th:text="${#request.getRemoteUser()}"></th:block>
                        </a>
                    </li>

                    <li class="nav-item" >
                        <a class="btn btn-light btn-sm ml-3" href="/logout">
                            <i class="fa fa-shopping-cart"></i> Logout
                        </a>
                    </li>
                    <li class="nav-item" >
                        <a class="btn btn-light btn-sm ml-3" href="/login">
                            <i class="fa fa-shopping-cart"></i> Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<body>
<!-- The form should submit to ProductsController.create or  ProductsController.update, depending on whether we are
creating or editing a product -->
<form method="post"  enctype="multipart/form-data" th:action="@{'/posts/{id}' (id=${post?.id})}">
    <div>
        <label for="title">Title</label>
        <input type="text"
               id="title"
               name="title"
               th:value="${post?.title}"
               required>
    </div>

    <div>
        <label for="shortDescription">Short Description</label>
        <input type="text"
               id="shortDescription"
               name="shortDescription"
               th:value="${post?.shortDescription}"
               required>
    </div>

    <div>
        <label for="description">Description</label>
        <input type="text"
               id="description"
               name="description"
               th:value="${post?.description}"
               required>
    </div>
    <div>
        <div class="form-group" >
            <label>Image</label>
            <input name="image" type="file" class="form-control"/>
        </div>


    </div>
  <!--
    <div>
        <label for="type">Type</label>
        <input type="text"
               id="type"
               name="type"
               th:value="${post?.type}"
               required>
    </div>
 -->
    <div>
        <label>Type</label><br/>

            <!-- For each category you should have one <option> like below  -->
            <input  type="radio" id="type" name="type" th:each="type:${type}" th:value="${type.name}" th:text="${type.name}">

    </div>
    <div>
        <label for="dateOfEvent">Date of event</label>
        <input type="date"
               id="dateOfEvent"
               name="dateOfEvent"

               th:value="${post?.dateOfEvent}"
               required>
    </div>


    <button id="submit" type="submit">Submit</button>
    <a id="back" href="/posts" type="button" class="btn btn-primary">Back to posts</a>

</form>
</body>
</html>
