<head>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/readMore.css}" xmlns:th="http://www.thymeleaf.org">

</head>

<main xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <article>
        <div class="article-header">
            <div class="headline">
                <p th:text="${post.getMonthOfEvent()} + ${post.getDayOfEvent()}"></p>
                <h1 th:text="${post?.title}">Our National Parks</h1>
                <div class="byline" th:text="${post.user.email}"></div>
            </div>
<!--            <div th:style="'background:url(' + ${post.getBase64Image()} + ');'" class="image"></div>-->
                 <div id="main-bg" th:style="'background:url(' + @{/images/pic3.jpg} + ');'" class="image"></div>

        </div>
        <div class="article-text">
            <p class="first" th:text="${post?.description}"></p>
        </div>
        <br />
        <div class="text-center" style="font-size: 20px; color: brown">
            Total views
            <label th:name="clicked" th:value="${clicked}" th:text="${clicked}">
                </label>
        </div>
    </article>
</main>
<style>
    #main-bg{
        width: 100%;
        height: 30vw;

        margin-bottom: 1.9em;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

