<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">

</head>
<body>
<div xmlns:th="http://www.thymeleaf.org">
<div class="newsletter-subscribe mt-5 container">
    <div class="container">
        <div class="intro">
            <h2 class="text-center newsletter">Subscribe to our Newsletter</h2>
        </div>
        <form method="POST" th:action='@{/subscribers/unsubscribe}' class="form-inline">
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Your Email">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Unsubscribe </button>
            </div>
        </form>
        <div th:if="${subscriberEmailError}">
            <h1>You are already unsubscribed</h1>
        </div>

        <div th:if="${email}">
            <h1>We are sad to announce you have unsubscribed</h1>
        </div>
    </div>
</div>
</div>
</body>
</html>