<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cards Hover2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/social-networks.css}" xmlns:th="http://www.thymeleaf.org">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">
</head>
<body-social-networks>
<div class="container-social-networks">
    <div class="card">
        <div class="face face1">
            <div class="content">
                <div class="icon">
                    <i2 class="fa fa-facebook-square" aria-hidden="true"></i2>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <h3>
                    <a href="https://www.facebook.com/markuskirchekoeln" target="_blank">Markuskirche Cologne</a>
                </h3>
                <p>Check out our facebook page.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <div class="icon">
                    <i2 class="fa fa-soundcloud" aria-hidden="true"></i2>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <h3>
                    <a href="https://soundcloud.com/user-528359958/gottesdienst-15112020" target="_blank">Markuskirche Cologne</a>
                </h3>
                <p>Listen to audio version of our sermon.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <div class="icon">
                    <i2 class="fa fa-youtube-square" aria-hidden="true"></i2>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <h3>
                    <a href="https://www.youtube.com/channel/UChN6jOEUH1baS4g5ZtF38GQ" target="_blank">Evangelisch-methodistische Kirche</a>
                </h3>
                <p>Check out our youtube content.</p>
            </div>
        </div>
    </div>
</div>
</body-social-networks>
</html>